.navigation-hex {
  margin: 1rem;
}

.direction-text:hover {
  stroke-width: 2px;
  stroke: #eee;
  fill: "#121212";
}

.direction-text.active {
  stroke-width: 4px;
  stroke: #eee;
  fill: "#121212";
}
