.header-bar {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: .7rem;
    min-height: 5rem;
}

.header-title {
    font-weight: 100;
    text-transform: uppercase;
    display: inline;
    font-size: 2.5rem;
    justify-self: center;
}

.logo {
    font-size: 2rem;
}

.logo.hidden {
    visibility: hidden;
}