.leaf-label {
  text-transform: uppercase;
  text-align: center;
  font-variant-caps: all-small-caps;
  font-size: 1.33rem;
  line-height: 0.8;
}

.label-box {
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  word-break: break-word;
  /* overflow-wrap: break-word; */
}

.text-el {
  user-select: none;
}

.selected-outline {
  filter: drop-shadow(3px 5px 5px rgb(0, 0, 0));
}
